.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 500px;
  background-color: #121212;
  padding: 15px 30px;
  margin-bottom: 30px;
}

.Title h3 {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
