.Welcome {
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #aaa;
  padding-bottom: 30px;
  margin-top: 10px;
}

.Welcome h1 {
  margin-bottom: 30px;
}

.Welcome img {
  max-width: 90%;
}

.Welcome h5 {
  font-size: 18px;
}
